<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DannyD</title>
</head>
<body>
    <h2>
        Danny Daniels was born on November 1, 1927 in Georgetown, British Guiana. He was an actor, known for Naked Gun 33 1/3: The Final Insult (1994), Ace Ventura: When Nature Calls (1995) and The Saint (1962). He was previously married to Berenice Grant. He died on December 4, 2010 in Inglewood, California, USA.
    </h2>
</body>
</html>