<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIA</title>
</head>
<body>
    <h2>
        Kali Roses is an actress and model who has been performing and working professionally since 2015. Throughout her career, she has worked with a wide variety of producers, directors, actors, actresses, events, photographers, and more. She enjoys every facet of the creative process, and prides herself in her ability to collaborate with other talented professionals in every area. Traveling is one her favorite joys in live, and she loves experiencing new places whether for vacation or work.
    </h2>
    
</body>
</html>