<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny</title>
</head>
<body>
    <h2>
        Sunny Leone is a Canadian-born actress of Indian origin. Prior to joining Bollywood, she has worked as an actress, writer and producer in the American adult film industry. Today she works predominantly in Bollywood and appears in several movies and item songs
    </h2>
</body>
</html>